.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

section#norgara {
  background-color: #000000;
  background-image: url('../img/norgara.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

section#norgara .section-heading {
  color: black;
}

section#norgara .azalpena {
  color: black;
  font-style: italic;
  font-size: 150%;
}

.porfolio-izena {
  color: #000000;
  text-transform: none;
  font-weight: normal;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.horia  {
  background: #eec000;
}
section#kontaktua {
  background-color: #000000;
  background-image: url('../img/kontaktua.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

section#kontaktua .section-heading {
  color: white;
}

section#kontaktua .form-group {
  margin-bottom: 25px;
}
section#kontaktua .form-group input,
section#kontaktua .form-group textarea {
  padding: 20px;
}
section#kontaktua .form-group input.form-control {
  height: auto;
}
section#kontaktua .form-group textarea.form-control {
  height: 236px;
}
section#kontaktua .form-control:focus {
  border-color: #eec000;
  box-shadow: none;
}
section#kontaktua ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cccccc;
}
section#kontaktua :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cccccc;
}
section#kontaktua ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cccccc;
}
section#kontaktua :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cccccc;
}
section#kontaktua .text-danger {
  color: #e74c3c;
}
header {
  background-image: url('../img/sarrera.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
section#taldea {
  background-color: #dddddd;
}