<!-- Clients Aside -->
    <section id="babesleak">
        <aside class="clients">
            <div class="container">
                <div class="row display-flex justify-content-center">
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="https://culturacientifica.com/catedra-de-cultura-cientifica/">
                            <img src="img/logos/ehu.jpg" class="img-responsive img-centered" alt="EHU Cultura Cientifíca">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="http://11barri.eu/">
                            <img src="img/logos/11barri.jpg" class="img-responsive img-centered" alt="11Barri">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="http://beikozini.com/">
                            <img src="img/logos/beikozini.jpeg" class="img-responsive img-centered" alt="Beikozini">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="http://www.cikautxo.es/">
                            <img src="img/logos/cikautxo.jpg" class="img-responsive img-centered" alt="Cikautxo">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="https://www.caixabank.es/">
                            <img src="img/logos/caixa.jpg" class="img-responsive img-centered" alt="Caixa">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="http://www.eika.es/home.html">
                            <img src="img/logos/eika.png" class="img-responsive img-centered" alt="Eika">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="http://www.fagorarrasate.com/">
                            <img src="img/logos/fagor.jpg" class="img-responsive img-centered" alt="Fagor">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="http://www.ondarroa.eu/">
                            <img src="img/logos/ondarroa.jpg" class="img-responsive img-centered" alt="Ondarroa">
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <a href="https://www.laboralkutxa.com/">
                            <img src="img/logos/laboral.jpg" class="img-responsive img-centered" alt="Laboral">
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </section>