<!-- Norgara Section -->
<section id="norgara">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Nor Gara</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p class="azalpena">Zientziaren Giltzak Elkartea (ZGE), <strong>aberasteko asmorik ez duen</strong> Elkartea da, eta bere <strong>helburua kultura zientifikoa</strong> Ondarroan eta bere inguruan <strong>zabaltzea da.</strong></p>
					<br>
					<h3 class="text-left">Gure Helburuak</h3>
					<ul class="azalpena text-left">
						<li>Hiritarren artean zientzia eta teknologiaren kultura zabaltzea</li>
						<li>Zientzia eta teknologiari buruzko informazioa eta ideiak elkartrukatzeko komunitate bat sortzea</li>
						<li>Hiritarrak ezagutza zientifikoaren garrantziaz jabetzea</li>
						<li>Ezagutza zientifikoan oinarritutako erabakiak hartzeko gai diren hiritar kritikoak heztea</li>
					</ul>
					<h3 class="text-left">Gure Printzipioak</h3>
					<ul class="azalpena text-left">
						<li>Bazkidetza irekia eta borondatezkoa</li>
						<li>Kudeaketa demokratikoa</li>
						<li>Kudeaketa parte-hartzailea</li>
						<li>Autonomia eta askatasuna</li>
						<li>Komunikazio gardentasuna</li>
						<li>Elkarte eta erakundeen arteko elkarlana</li>
						<li>Engaiamendu etikoa</li>
					</ul>
					<br>
				</div>
			</div>
		</div>
	</div>
</section>